/Problema2_Calificaciones/nbproject/private/
/Problema2_Calificaciones/build/
/Problema1_SistemaVentas/nbproject/private/
/Problema1_SistemaVentas/build/
/Solucion_Codigo/Problema3_Departamentos/nbproject/private/
/Solucion_Codigo/Problema3_Departamentos/build/
/Solucion_Codigo/Problema1_Ventas/nbproject/private/
/Solucion_Codigo/Problema1_Ventas/build/
